<mat-toolbar color="primary">
    <h3 (click)="navigateToHomeScreen()">ScholarWorld</h3>
    <mat-icon>storefront</mat-icon>
    <form class="example-form">
        <mat-form-field class="example-full-width" style="margin-left: 10px; margin-right: 10px;">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchQuery" name="searchQuery">
        </mat-form-field>
    </form>
    <span style="flex: 1 1 auto;"></span>
    <button class="login-button" mat-raised-button color="accent" (click)="showLoginPageView()">Login</button>
    <button class="signup-button" mat-raised-button color="accent" (click)="showRegistrationPageView()">Sign Up</button>
</mat-toolbar>